<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Speedy ESB Editor"
            extensions="mpe"
            icon="icons/sample.gif"
            contributorClass="com.github.bechtelcandoit.speedyesb.editors.SpeedyESBMultiPageEditorContributor"
            class="com.github.bechtelcandoit.speedyesb.editors.SpeedyESBMultiPageEditor"
            id="com.github.bechtelcandoit.speedyesb.editors.SpeedyESBMultiPageEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="SpeedyESB Wizards"
            id="SpeedyESB">
      </category>
      <wizard
            name="SpeedyESB Multi-page Editor file"
            icon="icons/sample.gif"
            category="SpeedyESB"
            class="com.github.bechtelcandoit.speedyesb.wizards.SpeedyESBWizard"
            id="com.github.bechtelcandoit.speedyesb.wizards.SpeedyESBWizard">
      </wizard>
   </extension>

</plugin>
